@{
    ViewBag.Title = "MUAF || Nedir";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MUAF || Nedir</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/Content2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/Content2/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">    
    <!-- Custom styles for this template -->
    <link href="/Content2/css/landing-page.min.css" rel="stylesheet">
</head>
<body>
   
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <h1 style="padding-bottom:10px; margin-top:-80px; color:#007BFF">ÖZELLİKLER</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-user m-auto text-primary"></i>
                        </div>
                        <h3>Ücretsiz Üyelik</h3>
                        <p class="lead mb-0">30 saniyede hızlıca hesap oluşturun. Ücretsiz bir şekilde tam sürüm kullanın.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-settings m-auto text-primary"></i>
                        </div>
                        <h3>Kurulum Yok</h3>
                        <p class="lead mb-0">MUAF, WEB tabanlı bir yazılım olduğu için kurulum gerektirmez, bilgisayarınızdaki olası problemler ve kazalardan (virüs girmesi, bilgilerin silinmesi, vb.) etkilenmez.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Kolay Kullanım</h3>
                        <p class="lead mb-0">MUAF, size en az her gün kullandığınız e-postanız ya da sosyal hesaplarınız kadar kullanımı kolay bir arayüz sunar.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-cloud-upload m-auto text-primary"></i>
                        </div>
                        <h3>Merkezi Veritabanı</h3>
                        <p class="lead mb-0">Bulut tabanlı sistemimiz sayesinde muafiyet ile ilgili tüm bilgi ve taleplerine bulunduğunuz her yerden ve tüm cihazlarınızdan ulaşabilir talepleri yanıtlayabilirsiniz.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <h3>Mobil Uyumlu Ekranlar</h3>
                        <p class="lead mb-0">Bulut tabanlı sistemimiz sayesinde muafiyet ile ilgili tüm bilgi ve taleplerine bulunduğunuz her yerden ve tüm cihazlarınızdan ulaşabilir talepleri yanıtlayabilirsiniz.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-refresh m-auto text-primary"></i>
                        </div>
                        <h3>Tekrarlayan Görevler</h3>
                        <p class="lead mb-0">Tekrar eden işleriniz için sadece bir kere kayıt oluşturun. Zamanı geldikçe görevinizden otomatik kopyalar oluşsun.</p>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="margin-top:60px; margin-bottom:-80px; color:#007BFF">NEDİR?</h1>
    </section>
    <!-- Image Showcases -->
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/Content2/img/merkeziVeritabanı.png');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Merkezi Veritabanı</h2>
                    <p class="lead mb-0">Ders tanımları, merkezi bir veri tabanında tutulur. Böylelikle kendi ihtiyacınıza yönelik dersleri tanımlarken aynı zamanda diğer kullanıcılara da yardımcı olursunuz.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('/Content2/img/repeatt.png'); background-size:cover; background-repeat:no-repeat;"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Tekrarlayan Görevler</h2>
                    <p class="lead mb-0">Dersler ortak bir havuzda tutulduğundan, her başvuru için dersin adı, kodu, kredsi, akts'si gibi tanımları tekrar tekrar girmenize gerek kalmaz. Bir kaç harfini girmeniz yeterli...</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/Content2/img/meeting-image.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Kolay Değerlendirme Süreci</h2>
                    <p class="lead mb-0">Komisyon üyeleri, muafiyet başvurusunda bulunulan dersin içeriğini, online bir şeklide değerlendirebilir. Böylece değerlendirme toplantılarına harcanan zaman size kalır...</p><br />
                    <p class="lead mb-0">Ayrıca daha önce karara bağlanmış başvurular veri tabanında tutulur. Böylece yıllar sonra komisyon üyeleri değişse bile tutuarlı değerlendirme yapılmış olur. </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('/Content2/img/user-friendly-interface.png');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Kolay Kullanım</h2>
                    <p class="lead mb-0">MUAF ile sayfalar arasında boğulmazsınız. Tek bir sayfa üzerinden işlemlerinizi kolaylıkla yürütebilirsiniz.</p>
                </div>
            </div>
        </div>
    </section>
  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
