
@{
    Layout = null;
}

<!DOCTYPE html>

@inherits System.Web.Mvc.WebViewPage

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KmsnRaporu</title>
</head>
<body>
    @Html.Partial("rprKmsn")
</body>
</html>
