
@{
    ViewBag.Title = "Uygun Olmayan Format";
}

@section head{
      <!-- Bootstrap core CSS -->
<link href="/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="/Content/css/style.css" rel="stylesheet">
<link href="/Content/css/style-responsive.css" rel="stylesheet" />
    
    <style>
        .error-wrapper{
            margin-top:-5px;
        }
    </style>    
}

<body class="body-500">
    <div class="container">
        <section class="error-wrapper">
            <i class="icon-500"></i>
            <h1>Eyvah!</h1>
            <h2>Bir Hata Var! Kayıt yapılamadı!</h2>
            <p>Metin uygun olmayan bir formatta olabilir. <a href="/Acilis/Panel">Panel'e Dön</a></p>
        </section>
    </div>

</body>